  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <h1>
        WDI Office Hours
      </h1>
      <h2>
        Queue for office hours! <%= Time.now.strftime("%A") %> <%= Date.today %>
      </h2>
      Your Instructors and TAs tonight are:
      <%= @office_hours_helpers %>
      <hr>
      <ul class="list-group">

        <% @turns.each do |t| %>

          <li class="list-group-item">
            <%= t.name %>
          </li>

        <% end %>

      </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <h2>
        Please wait your turn and add yourself to the queue
      </h2>
      <hr>
      <%= link_to 'Add me to the queue!', new_turn_path, class: 'btn btn-primary btn-large' %>

    </div>

  </div>
